/*
Custom properties
*/

:root {
  --opacity: 0%;
  --clr-light: 230 77% 90%;
  --clr-white: 0 0% 100%;
  --clr-dark: 230deg 35% 7%;

  // font-sizes
  --fs-900: clamp(5rem, 7vw + 1rem, 9.375rem);
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  // font-families
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
}

@media (min-width: 35rem) {
  :root {
    --fs-900: 8rem;
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-400: 1rem;
  }
}

@media (min-width: 45rem) {
  :root {
    --fs-900: 9.375rem;
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-dark));
  line-height: 1.5;
  min-height: 100vh;

  display: grid;
  grid-template-rows: min-content 1fr;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.flex-d-column {
  flex-direction: column;
  
}

.space-between {
  justify-content: space-between;
}

.space-even {
  justify-content: space-evenly;
}

.w-full {
  width: 100%;
}

.flex-fill {
  flex: 1
}

.mb-10 {
  margin-bottom: 10rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mt-10 {
  margin-top: 10rem;
}

.text-center {
  text-align: center;
}

.mx-5 {
  margin-right: 5rem;
  margin-left: 5rem;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.flex-center {
  justify-content: center;
}

.screen-size-70 {
  height: 80%;
  width: 100%;
}

.grid-center {
  object-position: center;
}

.grid-container > * {
  max-width: 50ch;
}

.grid-container {
  display: grid;
  text-align: center;
  place-items: center;
  row-gap: 20%;
  padding-inline: 1rem;
   outline: 1px solid green;
  
}


@media (min-width: 20rem) {
  .grid-container {
    column-gap: var(--container-gap, 0.5rem);
  }
}

@media (min-width: 45rem) {
  .grid-container { 
    text-align: left;
    column-gap: var(--container-gap, 2rem);
    
    grid-template-columns:
    minmax(2rem, 1fr)
    repeat(2, minmax(0, 30rem))
    minmax(2rem, 1fr);
  }

  .grid-container > *:first-child {
    grid-column: 2;
  }

  .grid-container > *:last-child {
    grid-column: 3;
    justify-content: center;
  }

  .grid-container--home {
    padding-bottom: max(6rem, 20vh);
    align-items: end;
    
  }
}



.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.two-columns {
  grid-template-columns: repeat(2, 1fr); // is 1 fr 50% of the page?
}


.d-block{
  display: block;
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
  display: flex;

  @media screen and (max-width: 800px) {
    display: block;
    flex-grow: 0;
  }
}

// Typography

.ff-serif {
  font-family: var(--ff-serif);
}

.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}

.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}

.letter-spacing-2 {
  letter-spacing: 2.7px;
}

.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.numbered-title {
  text-transform: uppercase;
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-500);
  letter-spacing: 4.72px;
}

.numbered-title > span {
  color: hsl(var(--clr-light) / 0.25);
  margin-right: 0.5em;
  font-weight: 700;
}

// color section
.bg-desktop {
  background-image: url("../assets/technology/background-technology-desktop.jpg");
  background-repeat: no-repeat;
  object-fit: fill;
}
.bg-dark {
  background-color: hsl(var(--clr-dark) / 20);
}

.bg-light {
  background-color: hsl(var(--clr-light));
}

.bg-white {
  background-color: hsl(var(--clr-white));
}

.text-accent {
  color: hsl(var(--clr-light));
}

.text-white {
  color: hsl(var(--clr-white));
}

.text-dark {
  color: hsl(var(--clr-dark));
}

// Components

.color-box {
  padding: 2em 5em;
  flex-grow: 1;
}

.large-button {
  position: relative;
  font-size: 2rem;
  display: inline-grid;
  text-decoration: none;
  z-index: 1;
  padding: 0 2rem;
  border-radius: 50%;
  place-items: center;
  aspect-ratio: 1;
}

.large-button::after {
  content: ""; // always required when we have psuedo elements
  position: absolute;
  background: hsl(var(--clr-white) / 0.25);
  width: 100%;
  height: 100%;
  border-radius: inherit;
  opacity: 0;
  z-index: -1;
  transition: opacity 500ms linear, transform 750ms ease-in-out;
}

.large-button:focus::after,
.large-button:hover::after {
  transform: scale(1.5);
  opacity: 1;
}

.slider {
  display: grid;
  place-items: center;
  aspect-ratio: 1;
  width: 4em;
  height: 4em;
  outline: hsl(var(--clr-white) / 0.15) 1px solid;
  border-radius: 50%;
}

.slider:hover {
  outline: hsl(var(--clr-light)) 1px solid;
}

.slider:focus {
  background-color: hsl(var(--clr-white));
  color: hsl(var(--clr-dark));
}

.outline {
  outline: red 1px solid;
}

.primary-navigation {
  --gap: 6rem;
  --underline-gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 60vw;

  backdrop-filter: blur(30px);
  background-color: transparent;
}

.primary-navigation a {
  text-decoration: none;
}

.primary-navigation a > span {
  font-weight: 700;
  margin-right: 0.5em;
}

.tab-list {
  --underline-gap: 0.25rem;
  --gap: 2.5rem;
}

.underline-indicators > * {
  cursor: pointer;
  background-color: transparent;
  padding: var(--underline-gap, 1rem) 0;
  border: 0;
  border-bottom: 0.2rem solid hsl(var(--clr-white) / 0);
}

.underline-indicators > *:focus,
.underline-indicators > *:hover {
  border-color: hsl(var(--clr-white) / 0.5);
}

.underline-indicators > .active,
.underline-indicators > [aria-selected="true"] {
  border-color: hsl(var(--clr-white) / 1);
  border-color: hsl(var(--clr-white) / 1);
}

.dot-indicators > * {
  padding: 0.5em;
  aspect-ratio: 1;
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  background-color: hsl(var(--clr-white) / 0.25);
}

.dot-indicators > *:hover,
.dot-indicators > *:focus {
  background-color: hsl(var(--clr-white) / 0.5);
}

.dot-indicators > *[aria-selected="true"] {
  background-color: hsl(var(--clr-white) / 1);
}

.navigation-line {
  outline: hsl(var(--clr-white) / 0.25) 1px solid;
  border-radius: 2em;
  width: 45%;
  top: 50%;
  left: 12%;
  z-index: 1;
  position: absolute;
}

.nav-container {
  justify-content: end;
  flex-direction: row;
  position: relative;
}

.flex-d-row{
  flex-direction: row;
}

.logo {
  background-image: url("../assets/shared/logo.svg");
  width: 10vh;
  height: 10vh;
  background-repeat: no-repeat;
  position: absolute;
  left: 5%;
  top: 25%;
}

#interactive-elements {
  background-image: url("../assets/home/background-home-desktop.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 0%;
  background-position-y: 20%;
  min-height: 100vh;
  min-width: 100vh;
}

#home-page {
  background-image: url("../assets/home/background-home-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
