/*
Custom properties
*/

:root {

  --opacity: 0%;
  --clr-light: 230 77% 90%;
  --clr-white: 0 0% 100%;
  --clr-dark: 230deg 35% 7%;

  // font-sizes
  --fs-900: 9.375rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  // font-families
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;

}


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
  margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  background-color: hsl(var(--clr-dark) / 20);
  color: var(--clr-light);
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}



/* ------------------- */
/* Utility classes     */
/* ------------------- */

.space-between {
  justify-content: space-between;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.center {
  object-position: center;
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.two-columns {

  grid-template-columns: repeat(2, 1fr); // is 1 fr 50% of the page?

}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;

  @media screen and (max-width: 800px) {
    display: block;
    flex-grow: 0;
  }
}

// Typography

.ff-serif {
  font-family: var(--ff-serif);
}

.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}

.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}

.letter-spacing-2 {
  letter-spacing: 2.7px;
}

.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.margin-20b {
  margin-bottom: 1.25rem;
}

.margin-40b {
  margin-bottom: 2.5rem;
}

// color section
.bg-dark {
  background-color: hsl(var(--clr-dark) / 20);
}

.bg-light {
  background-color: hsl(var(--clr-light));
}

.bg-white {
  background-color: hsl(var(--clr-white));
}

.text-accent {
  color: hsl(var(--clr-light))
}

.text-white {
  color: hsl(var(--clr-white))
}

.text-dark {
  color: hsl(var(--clr-dark))
}

// Components

.example-component {
  background-color: hsl(var(--clr-light) / .2);
}

.color-box {
  padding: 2em 5em;
  flex-grow: 1;
}



